/* ---- Main Dashboard View ---- */

body{
  padding-top: 70px;
}
/* Filter Form */
.row {
  margin-left: 30px;
}
.span2 .select2-container {
  width: 100% !important;
}

.span2 legend {
  display: none;
}

.span2 form {
  margin: 0;
}

.span2 legend+.control-group {
  margin-top: 0;
}

.span2 .form-actions {
  margin-bottom: 0;
  padding: 0;
  background-color: inherit;
}

.span2 .btn+.btn {
  float: right;
}

.span2 input, .span2 textarea, .span2 .uneditable-input {
  width: inherit;
}

.span2 .icon-large {
  padding-right: 5px;
}

.event-div {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.logo-img {
    max-height: 50px;
}
.navbar-brand{
  padding: 0px;
}

/* line 13, ../../app/styles/main.scss */

.pointer {
    cursor: pointer;
}